.chair_reviewers_table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #e05526;
  border-bottom: 1px solid #e05526;

  .chair_reviewers_table_header,
  .chair_reviewers_table_row {
    border-top: 1px solid #e05526;
    border-bottom: 1px solid #e05526;
  }

  .chair_reviewers_table_header tr {
    text-align: left;
  }

  .chair_reviewers_table_header th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.25rem;
    font-weight: bold;
  }

  .chair_reviewers_table_row td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.25rem;
  }

  .chair_reviewers_table_row td ul {
    list-style-type: disc;
    padding-inline-start: 0;
  }
}
