@use './newsubmission.module.scss';

.heading {
    color: #0E194D;
    margin-bottom: 2vh;
    line-height: 2.4vh;
}

.inputField {
    width: 100%;
}

.textArea {
    height: 35vh;
    width: 100%;
    resize: none;
}

.inputField, .textArea {
    box-sizing: border-box;
    background-color: #ffffff;
    width: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #D9D9D8;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 2.2vh;
    margin-top: 1vh;
    padding: 1%;
}

.buttonContainer {
    justify-content: end;
}